<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heroroom_upgradeIcons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1636},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1560},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1484},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1408},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1940},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1864},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1788},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1712},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1636},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1560},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1484},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1408},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1940},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1864},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1788},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1712},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1636},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1560},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1484},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1408},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,306},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,306},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,306},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,230},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,230},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,230},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,154},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,154},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,154},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,78},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,78},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,78},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1940},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1864},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1788},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1712},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1940},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1864},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1788},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1712},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1940},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1864},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1788},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1712},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1940},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1864},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1788},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1712},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1940},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1864},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>heroroom_upgradeIcons_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>thumb_stage1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,682},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage10.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,682},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,382},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,342},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage13.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,342},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage14.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1408},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1066},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,724},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage17.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,382},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
            <key>thumb_stage9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,340}}</string>
                <key>sourceSize</key>
                <string>{338,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_spritesheet_16_a_3-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21606392de63b5daf38894e9734a956e:df3b8c7b5b0d485d209608d9d94cc559:a3fe594fcda62d5b68ffdce7682358b3$</string>
            <key>textureFileName</key>
            <string>map_spritesheet_16_a_3-hd.png</string>
        </dict>
    </dict>
</plist>
