<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>encyclopedia_book_pg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,640}}</string>
                <key>sourceSize</key>
                <string>{568,640}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0209.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,644},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0212.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,644},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0213.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,644},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0233.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,644},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,644},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>upgrades_bg_icons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,908},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>upgrades_bg_icons_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,908},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>upgrades_bg_icons_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,710},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>upgrades_bg_icons_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,180},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>upgrades_bg_icons_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,180},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>upgrades_bg_icons_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,906},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>upgrades_icons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,908},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,620},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,886},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,796},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,708},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,532},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,266},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,354},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,442},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,620},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,530},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,890},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,802},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,714},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,626},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,354},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,90},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,266},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,442},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,548},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,538},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,354},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,92},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,266},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,458},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,448},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,178},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,90},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,90}}</string>
                <key>sourceSize</key>
                <string>{92,90}</string>
            </dict>
            <key>upgrades_icons_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,266},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,360},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,178},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,90},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,272},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,182},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,92},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,820},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,820},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,820},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,732},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,906},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,906},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,818},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,818},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,818},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,732},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,728},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,728},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,816},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,816},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,728},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,728},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,728},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_icons_off_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,644},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>upgrades_pricetag.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,409},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>upgrades_pricetag_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,360},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_spritesheet_16_a-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74a49e57920bd9ed39bccfa0136598c0:84e179e5fb80948a5c691f084e98661d:0e5c4c5609c34a74c8ea93086287446f$</string>
            <key>textureFileName</key>
            <string>map_spritesheet_16_a-hd.png</string>
        </dict>
    </dict>
</plist>
