<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement_icon_off_0145.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,496},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,496},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,496},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,422},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,338},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,412},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,412},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0204.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,412},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0205.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,338},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0206.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,254},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0207.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,254},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0215.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,254},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0216.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,254},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0218.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,328},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0220.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,328},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0222.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,328},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0223.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,254},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0236.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,170},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,170},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_creep_thumbs_0238.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,170},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,244},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,244},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,244},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,170},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,86},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,86},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,86},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,86},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>encyclopedia_tower_thumbs_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>heroroom_bigPortraits_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_bigPortraits_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_bigPortraits_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_bigPortraits_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_portraits_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,506},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>heroroom_portraits_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,508},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>heroroom_portraits_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,508},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>heroroom_portraits_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,506},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>heroroom_portraits_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,422},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>heroroom_portraits_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,422},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>heroroom_portraits_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,424},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>heroroom_portraits_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,422},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>heroroom_portraits_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,338},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>heroroom_portraits_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,338},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
            <key>heroroom_portraits_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,338},{82,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,84}}</string>
                <key>sourceSize</key>
                <string>{82,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_spritesheet_16_na_2-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2377d0a3d122b161bb286838886c343c:5cacda108c6a2b1714745ebcc8992f11:a62be40c245851bf87c38a6502e5c2d3$</string>
            <key>textureFileName</key>
            <string>map_spritesheet_16_na_2-hd.png</string>
        </dict>
    </dict>
</plist>
