<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ComicPromo.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{188,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,166}}</string>
                <key>sourceSize</key>
                <string>{188,166}</string>
            </dict>
            <key>but_social0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,942},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>but_social0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,870},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,378}}</string>
                <key>sourceSize</key>
                <string>{480,378}</string>
            </dict>
            <key>logo_brillo_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,100},{10,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,12}}</string>
                <key>sourceSize</key>
                <string>{10,12}</string>
            </dict>
            <key>logo_brillo_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,628},{56,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,110}}</string>
                <key>sourceSize</key>
                <string>{56,110}</string>
            </dict>
            <key>logo_brillo_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,574},{96,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,140}}</string>
                <key>sourceSize</key>
                <string>{96,140}</string>
            </dict>
            <key>logo_brillo_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>logo_brillo_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,538},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>logo_brillo_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{156,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,146}}</string>
                <key>sourceSize</key>
                <string>{156,146}</string>
            </dict>
            <key>logo_brillo_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,574},{116,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,118}}</string>
                <key>sourceSize</key>
                <string>{116,118}</string>
            </dict>
            <key>logo_brillo_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,858},{132,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,112}}</string>
                <key>sourceSize</key>
                <string>{132,112}</string>
            </dict>
            <key>logo_brillo_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,718},{138,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,114}}</string>
                <key>sourceSize</key>
                <string>{138,114}</string>
            </dict>
            <key>logo_brillo_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,718},{120,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,112}}</string>
                <key>sourceSize</key>
                <string>{120,112}</string>
            </dict>
            <key>logo_brillo_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,848},{126,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,112}}</string>
                <key>sourceSize</key>
                <string>{126,112}</string>
            </dict>
            <key>logo_brillo_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,718},{130,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>logo_brillo_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,718},{114,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,128}}</string>
                <key>sourceSize</key>
                <string>{114,128}</string>
            </dict>
            <key>logo_brillo_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,858},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>logo_brillo_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,850},{78,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,130}}</string>
                <key>sourceSize</key>
                <string>{78,130}</string>
            </dict>
            <key>logo_brillo_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,382},{64,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,126}}</string>
                <key>sourceSize</key>
                <string>{64,126}</string>
            </dict>
            <key>logo_brillo_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,574},{52,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,116}}</string>
                <key>sourceSize</key>
                <string>{52,116}</string>
            </dict>
            <key>logo_brillo_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,494},{40,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{40,82}</string>
            </dict>
            <key>logo_brillo_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,644},{20,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,54}}</string>
                <key>sourceSize</key>
                <string>{20,54}</string>
            </dict>
            <key>logo_brillo_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,42},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>logo_brillo_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,78},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>logo_brillo_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,666},{46,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,94}}</string>
                <key>sourceSize</key>
                <string>{46,94}</string>
            </dict>
            <key>logo_brillo_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,578},{20,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,64}}</string>
                <key>sourceSize</key>
                <string>{20,64}</string>
            </dict>
            <key>logo_brillo_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>logo_brillo_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,90},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>mainmenu_saveslot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,170},{272,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,170}}</string>
                <key>sourceSize</key>
                <string>{272,170}</string>
            </dict>
            <key>mainmenu_saveslot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,444},{272,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,166}}</string>
                <key>sourceSize</key>
                <string>{272,166}</string>
            </dict>
            <key>mainmenu_saveslot_close_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,332},{160,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,30}}</string>
                <key>sourceSize</key>
                <string>{160,30}</string>
            </dict>
            <key>mainmenu_saveslot_close_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,170},{160,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,30}}</string>
                <key>sourceSize</key>
                <string>{160,30}</string>
            </dict>
            <key>mainmenu_saveslot_confirmdelete_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,510},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>mainmenu_saveslot_confirmdelete_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,718},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>mainmenu_saveslot_delete_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,754},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>mainmenu_saveslot_delete_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,694},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>mainmenu_saveslot_icons_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,666},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>menu_creditschain_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,382},{262,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,154}}</string>
                <key>sourceSize</key>
                <string>{262,154}</string>
            </dict>
            <key>menu_creditschain_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{262,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,154}}</string>
                <key>sourceSize</key>
                <string>{262,154}</string>
            </dict>
            <key>menu_startchain_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,288},{328,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,284}}</string>
                <key>sourceSize</key>
                <string>{328,284}</string>
            </dict>
            <key>menu_startchain_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{328,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,284}}</string>
                <key>sourceSize</key>
                <string>{328,284}</string>
            </dict>
            <key>news_alert_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,934},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>news_alert_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,904},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>news_alert_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,780},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,84}</string>
            </dict>
            <key>news_alert_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,814},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>news_alert_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,574},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>news_alert_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,840},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>news_alert_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,570},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>news_alert_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,686},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenu_spritesheet_32_1-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a49ea3551ab0247f316fea9a68476b2d:a13174f4319281cce9e699ee79895bda:7f48243f190b43b2f6d88c5663bde954$</string>
            <key>textureFileName</key>
            <string>mainmenu_spritesheet_32_1-hd.png</string>
        </dict>
    </dict>
</plist>
